<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatShare</title>
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/1863/PNG/512/pause-circle-filled_118833.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="circles"></div>
        <div class="context">
            <h1>Coding Craft YT</h1>
            <h3>Taking Your Flask Project Beyond Localhost!</h3>
            <div class="button-container">
                <a href="#" class="register-button">Get Started</a>
            </div>
        </div>
    </div>
</body>

</html>
