<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatShare</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzeClMWAdH73ZBmOkYRx_U-dyRu_ifleD1Fg&s" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="circles"></div>
        <div class="context">
            <h1>Coding Craft YT</h1>
            <h3>Taking Your Flask Project Beyond Localhost!</h3>
            <div class="button-container">
                <a href="#" class="register-button">Get Started</a>
            </div>
        </div>
    </div>
</body>

</html>
